@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1680002808991') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-customer-fill:before {
  content: "\e828";
}

.icon-unlock:before {
  content: "\e844";
}

.icon-statistics-fill:before {
  content: "\e601";
}

.icon-jiaosequanxian:before {
  content: "\e606";
}

.icon-renwu:before {
  content: "\e607";
}

.icon-yingyongguanli:before {
  content: "\e60a";
}

.icon-cart_fill:before {
  content: "\e60f";
}

.icon-shebeishezhi:before {
  content: "\e617";
}

